
.bio{
    background-color: black;
    height: 6px;
    width: 170px;
    margin: auto;
}
html{
    text-align: center;
    background-color: skyblue;
}
#burgr{
    height: 350px;
    width: 400px;
}
img:hover{
    transform: scale(0.7)
}